[Unit]
Description=Nox API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nox
ExecStart=/home/ubuntu/.local/bin/uv run gunicorn app.main:app -w 2 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
Restart=always
RestartSec=3
LimitNOFILE=65535
Environment=ENV=prod

[Install]
WantedBy=multi-user.target
